@model Location

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            <span style="color: red;">[New]</span>
            <span>@Model.FullAddress</span>
        </h2>
    </div>
    <div class="col-md-6">
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
            <li>
                <strong>Bootstrap v3.2.0</strong>
            </li>
            <li>jQuery v1.11.0</li>
            <li>Font Awesome v4.1.0</li>
            <li>Working PHP contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
            <li>17 HTML pages</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        ---- TODO:<br />
        @Model.FullAddress<br />
        Rating: @Model.Rating<br />
        Added on: @Model.AddedOn<br />
        by @Model.User.UserName<br />
        @*@Model.Neighbourhood.Name<br />
            @Model.ShoppingCenter.WorkTime<br />
            @Model.ShoppingCenter.Details<br />
            @Model.ShoppingCenter.Category.Name<br />*@
        ----<br />
        <a class="btn btn-primary" href="Locations/Details/@Model.Id">View details</a>
    </div>
    <div class="col-md-6">
        <a href="Locations/Details/@Model.Id">
            <img class="img-responsive"
                 src="https://maps.googleapis.com/maps/api/staticmap?size=700x450&markers=color:red%7Clabel:S%7C@(Model.Latitude),@Model.Longitude"
                 alt="Location on map"
                 style="cursor: pointer;" />
        </a>
    </div>
</div>