@model IEnumerable<Location>

@foreach (var location in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                <span style="color: red;">[New]</span>
                <span>@location.FullAddress</span>
            </h2>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>Address</dt>
                <dd>@Html.DisplayFor(model => location.FullAddress)</dd>

                <dt>Neighborhood</dt>
                <dd>@Html.DisplayFor(model => location.Neighbourhood.Name)</dd>

                <dt>Worktime</dt>
                @if (location.ShoppingCenter.WorkTime != null)
                {
                    <dd>@Html.DisplayFor(model => location.ShoppingCenter.WorkTime)</dd>
                }
                else
                {
                    <dd>--:--</dd>
                }
                <dt>Category</dt>
                <dd>@Html.DisplayFor(model => location.ShoppingCenter.Category.Name)</dd>

                <dt>Added on</dt>
                <dd>@Html.DisplayFor(model => location.AddedOn) <strong>by</strong> @Html.DisplayFor(model => location.User.UserName)</dd>
            </dl>
            <br />
            <a class="btn btn-primary" href="~/Locations/Details/@location.Id">View details</a>
        </div>
        <div class="col-md-6">
            <a href="~/Locations/Details/@location.Id">
                <img class="img-responsive img-hover"
                     src="https://maps.googleapis.com/maps/api/staticmap?size=700x450&markers=color:red%7Clabel:S%7C@(location.Latitude),@location.Longitude"
                     alt="Location on map" />
            </a>
        </div>
    </div>
}

@if (ViewBag.Pages != null && ViewBag.CurrentPage != null)
{
    @*Pagination*@
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li><a href="~/Locations/Index/@(ViewBag.CurrentPage - 1)">&laquo;</a></li>
                }

                @for (int p = 1; p <= ViewBag.Pages; p++)
                {
                    if (ViewBag.CurrentPage == p)
                    {
                        <li class="active"><a href="~/Locations/Index/@p">@p</a></li>
                    }
                    else
                    {
                        <li><a href="~/Locations/Index/@p">@p</a></li>
                    }
                }

                @if (ViewBag.CurrentPage < ViewBag.Pages)
                {
                    <li><a href="~/Locations/Index/@(ViewBag.CurrentPage + 1)">&raquo;</a></li>
                }

            </ul>
        </div>
    </div>
}