@model IEnumerable<User>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Approved locations
        </th>
        <th>
            Banned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedLocationsCount)
            </td>
            <td>
                @if (item.IsBanned)
                {
                    <p><strong class="text-danger">Yes</strong></p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td>
                @if (item.IsBanned)
                {
                    <span>&nbsp;</span>
                }
                else
                {
                    using (Html.BeginForm("Ban", "Users", FormMethod.Post, new { style = "padding-left: 5px; display: inline-block;" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="text" hidden="hidden" name="id" value="@item.Id" />
                        <input type="submit" class="btn btn-danger" value="Ban" />
                    }

                    using (Html.BeginForm("MakeModerator", "Users", FormMethod.Post, new { style = "padding-left: 5px; display: inline-block;" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="text" hidden="hidden" name="id" value="@item.Id" />
                        <input type="submit" class="btn btn-success" value="Make moderator" />
                    }                    
                }
            </td>
        </tr>
    }

</table>

